@keyframes animate {
    20% {
        transform: rotate(170deg);
    }
    40% {
        transform: rotate(40deg);
    }
    70% {
        transform: rotate(120deg);
    }
    99% {
        transform: translate(0, 150px) rotate(90deg);
    }
    100% {
        opacity: 0;
    }
}