@media (max-width:1024px) {
    body {
        background-position: left;
    }
}

@media (max-width:870px) {
    .site-menu li a {
        padding: 6px 14px;
        font-size: 15px;
    }
    .site-logo a img {
        width: 120px;
        height: 100px;
    }
    .site-language i {
        font-size: 22px;
    }
    .site-lang select {
        padding: 2px;
        font-size: 12px;
    }
}

@media (max-width:700px) {
    .site-menu {
        display: none;
    }
    .burger-button {
        display: block;
    }
}